@inject HttpClient Http
@using RaceList.Models

@if (RaceList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2" class="fs-4 cell-empahsize">@SeriesName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var race in RaceList)
            {
                <tr>
                    <td class="fw-bold fs-5 text-end cell-empahsize">
                        @race.RaceDate.ToString("MMM") <br />
                        @race.RaceDate.ToString("dd")
                    </td>
                    <td>
                        <strong>@race.RaceName</strong> <br>
                        @race.TrackName <br>
                        @race.ScheduledDistance Miles<br>
                        @race.ScheduledLaps Laps<br>
                        @race.RaceDate.ToShortTimeString() <br>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public String? SeriesName { get; set; }
    [Parameter]
    public Race[]? RaceList { get; set; }

}
